<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/login.css" />
    <title>Sub Branch Form</title>
  </head>
  <body>
    <div class="container">
      <div class="orange"></div>
      <div class="blue"></div>
      <div class="form-container">
        <h1>Republic Gas Corporation</h1>
        <div class="logo">
          <img src="/img/regasco-logo.png" alt="" />
        </div>
        <p>Sub-Branch</p>
        <form class="form">
          <input type="text" class="input" placeholder="Username" />
          <input type="text" class="input" placeholder="Password" />
          <button>Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
